
.card-rounded-0{
    color: blueviolet;
width: 100;

}
h3{
    text-align: center;
}

.form-group{
    color:rgb(0, 102, 255);
    
}
.py-5{
    border-radius: 10px;
    height: 80%;
    width: 50%;
    background-color:  #cccccc ;
    margin-left:25%;
}
h3{
    color:rgb(0, 102, 255);
    margin-top:2%;
}