table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.pagination,
td,
th,
.recherche {
    background-color: white;
    color: #6c757d;
    border: #6c757d;
}

.fontAwsModif {
    color: blue;
}

.actif {
    color: green;
}

.bloquer {
    color: red;
}

.btAdd {
    width: 100%;
}