<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Shop Cart</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head> 
<body>
                            <h3 class="p">LES CATEGORIES DE PRODUITS</h3>
                          
          
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="p2">
                            <div class="panel-heading"  id="p1">
                               <button class="panel-title"><h3><a href="#">FER</a></h3></button>
                            </div>
                            <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                               <button  class="btn btn-success" id="pa"><h3><a routerLink="/newvente">Vente</a></h3></button>
                            </div>
                            <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4" id="p1">
                                <button  class="btn btn-warning" id="pap"><h3><a href="#">Enregistrer</a></h3></button>
                            </div>
                    </div>
                    <div class="panel-body">
                            <img class="L" src="./assets/image/2.jpg" alt="">
                    </div>
                </div>
            </div>  
            <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="p2">
                        <div class="panel-heading"  id="p1">
                            <button class="panel-title"><h3><a href="#">PLOMBERIE</a></h3></button>
                    </div>

                        <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                            <button class="btn btn-success" id="pa"><h3><a routerLink="/newvente">Vente</a></h3></button>
                        </div>
                        <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4" id="p1">
                             <button class="btn btn-warning" id="pap"><h3><a href="#">Enregistrer</a></h3></button>
                        </div>

                    </div>
                    <div class="panel-body">
                            <img class="L" src="./assets/image/1.jpg" alt="">

                    </div>
                </div>  
            </div>
            <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="p2">
                        <div class="panel-heading"  id="p1">
                            <button class="panel-title"><h3><a href="#">CIMENT</a></h3></button>
                    </div>

                        <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                            <button  class="btn btn-success" id="pa"><h3><a routerLink="/newvente">Vente</a></h3></button>
                        </div>
                        <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4" id="p1">
                             <button class="btn btn-warning" id="pap"><h3><a href="#">Enregistrer</a></h3></button>
                        </div>

                    </div>
                    <div class="panel-body">
                            <img class="L" src="./assets/image/3.png" alt="">

                    </div>
                </div>  
            </div>
        </div>
        <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading" id="p2">
                    <div class="panel-heading"  id="p1">
                        <button class="panel-title"><h3><a href="#">EQUIPEMENTS PEINTURES</a></h3></button>
                </div>
                    <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                        <button  class="btn btn-success" id="pa"><h3><a routerLink="/newvente">Vente</a></h3></button>
                    </div>
                    <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4" id="p1">
                         <button class="btn btn-warning" id="pap"><h3><a href="#">Enregistrer</a></h3></button>
                    </div>

                </div>
               
                <div class="panel-body">
                        <img class="L" src="./assets/image/12.jpg" alt="">

                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
            <div class="panel panel-primary">
               
                <div class="panel-heading" id="p2">
                    <div class="panel-heading"  id="p1">
                        <button class="panel-title"><h3><a href="#">EQUIPEMENTS PORTES</a></h3></button>
                </div>

                    <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                        <button  class="btn btn-success" id="pa"><h3><a routerLink="/newvente">Vente</a></h3></button>
                    </div>
                    <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4" id="p1">
                         <button class="btn btn-warning" id="pap"><h3><a href="#">Enregistrer</a></h3></button>
                    </div>

                </div>
                <div class="panel-body">
                        <img class="L" src="./assets/image/6.jpg" alt="">

                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading" id="p2">
                    <div class="panel-heading"  id="p1">
                        <button class="panel-title"><h3><a href="#">MATERIELS CHANTIER</a></h3></button>
                </div>

                    <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">  
                        <button  class="btn btn-success" id="pa"><h3><a routerLink="/newvente">Vente</a></h3></button>
                    </div>
                    <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4" id="p1">
                         <button class="btn btn-warning" id="pap"><h3><a href="#">Enregistrer</a></h3></button>
                    </div>

                </div>
                <div class="panel-body">
                        <img class="L" src="./assets/image/7.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="p2">
                        <div class="panel-heading"  id="p1">
                            <button class="panel-title"><h3><a href="#">EQUIPEMENTS PROTECTION</a></h3></button>
                    </div>

                        <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                            <button  class="btn btn-success" id="pa"><h3><a routerLink="/newvente">Vente</a></h3></button>
                        </div>
                        <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4" id="p1">
                             <button class="btn btn-warning" id="pap"><h3><a href="newvente">Enregistrer</a></h3></button>
                        </div>

                    </div>
                    <div class="panel-body">
                            <img class="L" src="./assets/image/8.jpg" alt="">
    
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="p2">
                            <div class="panel-heading"  id="p1">
                                <button class="panel-title"><h3><a href="#">MATERIELS CHANTIER</a></h3></button>
                        </div>
    
                            <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                                <button  class="btn btn-success" id="pa"><h3><a routerLink="/newvente">Vente</a></h3></button>
                            </div>
                            <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4" id="p1">
                                 <button class="btn btn-warning" id="pap"><h3><a href="#">Enregistrer</a></h3></button>
                            </div>
    
                        </div>
                        <div class="panel-body">
                                <img class="L" src="./assets/image/10.jpg" alt="">
        
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading" id="p2">
                                <div class="panel-heading"  id="p1">
                                    <button class="panel-title"><h3><a href="#">MATERIELS CHANTIER</a></h3></button>
                            </div>
        
                                <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                                    <button  class="btn btn-success" id="pa"><h3><a routerLink="/newvente">Vente</a></h3></button>
                                </div>
                                <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4" id="p1">
                                     <button class="btn btn-warning" id="pap"><h3><a href="#">Enregistrer</a></h3></button>
                                </div>
        
                            </div>
                            <div class="panel-body">
                                    <img class="L" src="./assets/image/11.jpg" alt="">
            
                            </div>
                        </div>
                    </div>

    </div>
 
</body>
 
</html>