<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
                            <h3 class="p">LES CATEGORIES DE PRODUITS</h3>
                          
          
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="p2">
                            <div class="panel-heading"  id="p1">                          
                               <button  class="panel-title"><h3><a routerLink="/newvente">FER</a></h3></button>
                            </div>                  
                    </div>
                    <div class="panel-body">
                            <img class="L" src="./assets/image/2.jpg" alt="">
                    </div>
                </div>
            </div>  
            <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="p2">
                        <div class="panel-heading"  id="p1">
                            <button class="panel-title"><h3><a routerLink="/newvente">PLOMBERIE</a></h3></button>
                    </div>
                    </div>
                    <div class="panel-body">
                            <img class="L" src="./assets/image/1.jpg" alt="">
                    </div>
                </div>  
            </div>
            <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="p2">
                        <div class="panel-heading"  id="p1">
                            <button class="panel-title"><h3><a routerLink="/newvente">CIMENT</a></h3></button>
                    </div>
                    </div>
                    <div class="panel-body">
                            <img class="L" src="./assets/image/3.png" alt="">
                    </div>
                </div>  
            </div>
        </div>
        <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading" id="p2">
                    <div class="panel-heading"  id="p1">
                     <button class="panel-title"><h3><a routerLink="/newvente">EQUIPEMENTS PEINTURES</a></h3></button>
                </div>
                </div>
               
                <div class="panel-body">
                        <img class="L" src="./assets/image/12.jpg" alt="">

                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
            <div class="panel panel-primary">
               
                <div class="panel-heading" id="p2">
                    <div class="panel-heading"  id="p1">
                        <button class="panel-title"><h3><a routerLink="/newvente">EQUIPEMENTS PORTES</a></h3></button>
                </div>

                </div>
                <div class="panel-body">
                        <img class="L" src="./assets/image/6.jpg" alt="">

                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading" id="p2">
                    <div class="panel-heading"  id="p1">
                        <button class="panel-title"><h3><a routerLink="/newvente">MATERIELS CHANTIER</a></h3></button>
                </div>

                </div>
                <div class="panel-body">
                        <img class="L" src="./assets/image/7.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="p2">
                        <div class="panel-heading"  id="p1">
                            <button class="panel-title"><h3><a routerLink="/newvente">EQUIPEMENTS PROTECTION</a></h3></button>
                    </div>

                      
                    </div>
                    <div class="panel-body">
                            <img class="L" src="./assets/image/8.jpg" alt="">
    
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="p2">
                            <div class="panel-heading"  id="p1">
                                <button class="panel-title"><h3><a routerLink="/newvente">MATERIELS CHANTIER</a></h3></button>
                        </div>
    
                        
    
                        </div>
                        <div class="panel-body">
                                <img class="L" src="./assets/image/10.jpg" alt="">
        
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-md-4 col-sm-4 col-lg-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading" id="p2">
                                <div class="panel-heading"  id="p1">
                                    <button class="panel-title"><h3><a routerLink="/newvente">MATERIELS CHANTIER</a></h3></button>
                            </div>
        
        
                            </div>
                            <div class="panel-body">
                                    <img class="L" src="./assets/image/11.jpg" alt="">
            
                            </div>
                        </div>
                    </div>

    </div>
 
