
body {
    padding-top: 50px;
}
#divTotal{
    background-color: green;
}
.affix{
    right: 0px;
}
.affix-top{
    right: 0px;
    position: fixed;
}
.p{
    text-align: center;
    font-size: 60px;
    color: blueviolet;
}
.panel-title{
text-align: center;
 border-radius: 35px;
 width: 200px;
}
#pa{
    border-radius: 35px;
 width: 150px;
}
#pap{
    border-radius: 35px;
    width: 150px;
}
#p1{
    padding-left: 70px;   
   
}
.L{
    width: 100%;
    height: 235px;
}
#p2{
    height: 190px;

}